.search_input {
  position: relative;
  input {
    border: 1px solid #ddd;
    padding: 10px 35px 10px 15px;
    width: 250px;
    border-radius: 4px;
    outline: none;
    font-family: "Poppins", sans-serif;
    &:focus {
      border-color: #86b7fe;
      box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }
  }
  i {
    color: gray;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: 12px;
    right: 10px;
  }
}

@media only screen and (max-width: 750px) {
  .search_input {
    input {
      max-width: 250px;
    }
  }
}
