.table_wrapper {
  white-space: nowrap;
  overflow-x: auto;
  .date_table {
    width: 100%;
    min-width: 1024px;
    border-collapse: separate;
    border-spacing: 0px 15px;
    thead {
      tr {
        background-color: #766ceb;
        th:nth-child(1) {
          width: 5%;
        }
        th:nth-child(2) {
          width: 12.5%;
        }
        th:nth-child(3) {
          width: 12.5%;
        }
        th:nth-child(4) {
          width: 12.5%;
        }
        th:nth-child(5) {
          width: 12.5%;
        }
        th:nth-child(6) {
          width: 22.5%;
        }
        th:nth-child(7) {
          width: 22.5%;
        }
        th {
          color: white;
          font-size: 18px;
          padding: 15px 0px;
          text-align: center;
          text-align: center;
        }
      }
    }
    tbody {
      tr {
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
        position: relative;
        td {
          padding: 15px 0px;
          color: #444;
          text-align: center;
          span {
            display: block;
          }
          &:first-child {
            padding-left: 10px;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 6px;
              height: 100%;
              background-color: #766ceb;
              border-radius: 0px 4px 4px 0px;
            }
          }
        }
      }
    }
  }
}
.pagination_box {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}
.detial_filter {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  .detial_filter {
    flex-direction: column;
    align-items: flex-start;
    input[type="date"] {
      max-width: 200px;
    }
  }
}
